* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header,
footer {
    width: 100%;
    max-width: 1600px;
}
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:16px ;
    color: #001931;

}
.section-heading p {
    color: #627382;
    font-size: 16px;
    line-height:20px;
      margin-bottom:44px ;
}
   
/* main style */
/* header section */
header {
    padding: 16px 120px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 139px;

}

nav .menu {
    display: flex;
    gap: 32px;
}

nav .menu li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

nav .nav-btn {
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* hero section */
#hero {
    padding-top: 115px ;
    padding-bottom: 180px;
    background: url(./assets/hero-bg.png), #00193180;
    background-size: cover;
    background-position: center;
    height: 674px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
 */
}
.hero-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.primary-btn{
    padding: 8px 12px;
        background-color: #ffffff;
        border: none;
        border-radius: 1000px;
        color: #469165;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 16px;
    }
.fa-solid.fa-circle{
    margin-right: 8px;
}
.hero-container h1{
  font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
.hero-container p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
.hero-btn{
    display: flex;
    justify-content: center;
   gap: 16px;
}
.btn{
padding: 16px 12px;
    background-color: #469165;
    border: none;
    border-radius:4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 16px;
}
.button{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.fa-solid.fa-arrow-right {
    margin-left: 10px;

}
.fa-solid.fa-play{
    margin-right: 10px;

}
.note-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding-top:40px ;
    border: #001931 1px solid;
}