* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header,
footer {
    width: 100%;
    max-width: 1600px;
}

/* main style */
/* header section */
header {
    padding: 16px 120px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 139px;

}

nav .menu {
    display: flex;
    gap: 32px;
}

nav .menu li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

nav .nav-btn {
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* hero section */
#hero {
    width: 100%;
    max-width: 1600px;
    padding-top: 115px ;
    padding-bottom: 180px;
    background: url(./assets/hero-bg.png), #00193180;
    background-size: cover;
    background-position: center;
    height: 674px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
 */
}
.hero-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
        border: 1px solid #b10d0d;
        

}